.icon-wrapper {
    border: 2
    px
     solid red;
        padding: 2
    rem
     !important;
    float: left;
   
}

.icon-wrapper h4 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000;
}


.icon {
    display: inline-block;
    font-size: 20px;
    height: 70
px
;
    line-height: 70px;
    margin-bottom: 25
px
;
    position: relative;
    text-align: center;
    width: 70
px
;
    color: rgb(199, 35, 35);
}
.icon::after {
    background: #ac192c;
    content: "";
    height: 50
px
;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10
px
;
    transform: rotate(
45deg);
    width: 50
px
;
    z-index: -1;
}
.contact-address{
    margin-bottom: 20
px
;
    padding: 0 10
px
;
    list-style: none;
    text-align: center;
}